@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
  display: flex;
}
.container{
  max-width: 1060px;
  margin: 0 auto;
}
.btn-primary{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 16px 40px;
  border-radius: 42px;
  border: 1px solid rgb(230, 83, 60);

  
}
/* navbar style */
.header{
  background: linear-gradient(to bottom, #000000, #434343,#000000);
}
.navbar {
  justify-content: space-between;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  border: 1px solid red;
}
.brand{
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-links{
 align-items: center;
 justify-content: space-between;
 width: 465px;
 height: 46px;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 39px;

}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 400;
 
}
.home-btn{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 8px 20px;
  border: none;
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
 
}
.about-span{
  padding: 0px 20px;
}
.hamburger-menu{
  display: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
/* banner style*/
.banner-wrapper{
  align-items: center;
  border: 1px solid red;
  justify-content: space-between;
 
}
.banner-text-content{
  max-width: 520px;
}
.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
  
}
#shape-span{
  font-family: 'Miama',sans-serif; 
  font-size: 9.5rem;                            
  font-weight: 400;

}
.banner-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.banner-btn{
 gap: 14px;
}
.download-app-btn{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  padding: 14px 40px;
  border-radius: 42px;
  

}
.banner-image{
  position: relative;
}
.banner-image img{
  width: 100%;
  object-fit: cover;
  
}
.free-workout-video{
  width: 190px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  top: 125px;
  left: 230px;
  
}
#free-workout-video-span{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}
.video-tutorial{
  position: absolute;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px 23px;
  bottom: 63px;
  left: -113px;
}
.round-shape{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 8px;
}
.play-icon{
  font-size: 1rem;
  color: rgb(250, 250, 249);
  position: absolute;
  display: none;
}
.video-tutorial-container{
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
}
#video-tutorial-span{
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}
/* habits container section */
.habits-container{
  background-color:black;
  padding: 100px 0;
}
.habits{
  max-width: 1044px;
  margin: 0 auto;
  border: 1px solid red;
}
.habits-title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.habits-description{
  max-width: 670px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 58px;
}
.habits-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.habits-card{
  width: 231px;
  height: 274px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.habits-card-img img{
  width: 80%;
  border: 3px solid  rgb(34, 34, 34);;
  border-radius: 50%;

}
.habits-card h5{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 5px;
}
.habits-card p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  
}


/* run container wrapper section */
.run-container-wrapper{
  background-color: #000000;
}
.run-container{
  background-color: rgb(34, 34, 34);
  border: 1px solid red;
  border-radius: 18px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 160px;
}
.run-text-content{
 max-width: 440px;
 padding-left: 20px;
}
.run-text-content h1{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;

}
.run-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 34px;
 
}
.run-image-container{
  width: 466px;
  height: 312px;
}
#run-image-2{
  display: none;
}
.run-image-container img{
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 67% 32%;
  border-radius: 18px;
}

/* bmi calculator section  */

.bmi-calculator-container{
  padding: 88px 0px;
  border: 1px solid red;
  background-color: #000000;
}
.bmi-calculator-text-content{
  max-width: 660px;
  margin: 0 auto;
}
.bmi-calculator-text-content h2{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-calculator-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 88px;
}
.bmi-calculator-function{
  background-color: rgb(34, 34, 34);
  padding: 0px 180px;
  justify-content: space-between;
}
.bmi-calculator-chart{
  padding-top: 50px;
}
table{
  border-collapse: collapse;
}
caption{
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  text-align: left;
  font-weight: 900;
  margin-bottom: 50px;

}
td,th{
  border: 1px solid rgba(255, 255, 255, 0.1);
}
th{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  text-align: left;
}
td{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  padding: 13px 18px;
}
.calculate-bmi{
  max-width: 577px;
  padding-top: 50px;
}
.calculate-bmi h3{
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
  
}
.calculate-bmi p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 34px;
}
.bmi-calculator-options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 12px;
}

input{
  width: 282.5px;
  height: 48px;
}
input, select{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  padding: 10px 20px;
  text-align: left;

}

::placeholder{
  color: rgba(255, 255, 255, 0.6);
}
.select-factor{
  grid-column: 2 span;
  max-width: 577px;
  height: 48px;
}
.calculate-bmi .btn-primary{
  width: 224px;
  height: 54px;
  margin-top: 34px;
  margin-bottom: 50px;

}

/* responsive section */
@media screen and (max-width: 576px) {
  /* navbar responsive */
  .nav-links{
    display: none;
  }
  .hamburger-menu{
    display: block;
  }
  .navbar{
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  /* banner responsive */
  .banner-wrapper{
    flex-direction: column;
    gap: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-title{
    width: 285px;
    font-size: 2.25rem;
  }
  #shape-span{
    font-size: 4.5rem;
  }
  .banner-description{
    max-width: 274px;
  }
  .club-span {
    display: none;
  }
  
  .download-app-btn{
    font-size: 1rem;
  }
  .free-workout-video{
    width: 146px;
    top: 47px;
    left: 192px;
    font-size: .6rem;
  }
  #free-workout-video-span{
    font-size: 1.875rem;
  }
  .video-tutorial{
    width: 156px;
    height: 73px;
    padding: 15px 17px;
    left: 12px;
    top: 270px;
  }
  .round-shape{
    width: 30px;
    height: 30px;
  }
  .play-icon{
    display: block;
    top: 5px;
    left: 10px;
  }
  .video-tutorial-container{
    font-size: .75rem;
  }
  #video-tutorial-span{
    font-size: 1.125rem;
  } 
  /* habits section responsive */
  .habits-container{
    padding: 0;
    padding-bottom: 60px;
  }
  .habits{
    margin-left: 20px;
    margin-right: 20px;
  }
  .habits-title{
    font-size: 2.4rem;
  }
  .habits-description{
    width: 80%;
    line-height: 22px;
  }
  .habits-card-container{
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .habits-card{
    margin: auto;
  }
 
 /* run container wrapper section responsive */
 .run-container{
  flex-direction: column;
  gap: 30px;
  padding: 32px;
  margin: 0 20px;
  
 }
 .run-text-content{
  padding-left: 0;

 }
 .run-text-content h1{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
}
 .run-text-content .btn-primary{
  width: 100%;
}
.run-image-container{
  width: 100%; 
  height: 180px;
  
}
#run-image-1{
  display: none;
}
#run-image-2{
  display: block;
}
.run-image-container img{
  object-fit: cover;
  object-position: top right;
}
}