@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
.display-flex{
  display: flex;
}
.container{
  max-width: 1060px;
  margin: 0 auto;
}
.btn-primary{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  background-color: rgb(230, 83, 60);
  padding: 16px 40px;
  border-radius: 42px;
  border: 1px solid rgb(230, 83, 60);
  cursor: pointer;
  
}
/* navbar style */
.header{
  background: linear-gradient(to bottom, #000000, #434343,#000000);
}
.navbar {
  justify-content: space-between;
  align-items: center;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}
.brand{
  color: rgb(230, 83, 60);
  font-size: 2.25rem;
  font-weight: 800;
}
.nav-links{
 align-items: center;
 justify-content: space-between;
 width: 465px;
 height: 46px;
 border: 1px solid rgba(255, 255, 255, 0.1);
 border-radius: 39px;

}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 400;
 
}
.home-btn{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 8px 20px;
  border: none;
  border-radius: 46px;
  background-color: rgb(230, 83, 60);
  margin-left: 3px;
  cursor: pointer;
}
.about-span{
  padding: 0px 20px;
}
.hamburger-menu{
  display: none;
  color: rgb(255, 255, 255);
}
/* banner style*/
.banner-container{
  align-items: center;
  justify-content: space-between;
 
}
.banner-text-content{
  max-width: 520px;
}
.banner-title{
  color: rgb(255, 255, 255);
  font-size: 4.875rem;
  font-weight: 900;
  line-height: 120%;
  
}
#shape-span{
  font-family: 'Miama',sans-serif; 
  font-size: 9.5rem;                            
  font-weight: 400;

}
.banner-description{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}
.banner-btn{
  gap: 14px;
}
.download-app-btn{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  padding: 16px 40px;
  border-radius: 42px;
  cursor: pointer;

}
.banner-image{
  position: relative;
}
.banner-image img{
  width: 100%;
  object-fit: cover;
  
}
.free-workout-video{
  width: 190px;
  position: absolute;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  color: rgba(255, 255, 255, 0.65);
  font-size: 0.8rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  top: 125px;
  left: 230px;
  cursor: pointer;
  
}
#free-workout-video-span{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 900;
}
.video-tutorial{
  position: absolute;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.54);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  padding: 20px 23px;
  bottom: 63px;
  left: -113px;
  cursor: pointer;
}
.round-shape{
  position: relative;
  width: 40px;
  height: 40px;
  background-color: rgb(230, 83, 60);
  border-radius: 50%;
  margin-right: 8px;
}
.play-icon{
  font-size: 1rem;
  color: rgb(250, 250, 249);
  position: absolute;
  display: none;
}
.video-tutorial-container{
  color: rgba(239, 237, 232, 0.65);
  font-size: 1rem;
  font-weight: 400;
}
#video-tutorial-span{
  color: rgb(250, 250, 249);
  font-size: 1.5rem;
  font-weight: 900;
}


/* habits container section */

.habits-container{
  background-color:black;
  padding: 100px 0;
}
.habits{
  max-width: 1044px;
  margin: 0 auto;
}
.habits-title{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}
.habits-description{
  max-width: 670px;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 58px;
}
.habits-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 40px;
}
.habits-card{
  width: 231px;
  height: 274px;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.habits-card-img img{
  width: 80%;
  border: 5px solid  rgb(34, 34, 34);;
  border-radius: 50%;

}
.habits-card h5{
  color: rgb(255, 255, 255);
  font-size: 1.125rem;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 5px;
}
.habits-card p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 0.3px;
}


/* run container wrapper section */
.run-container-wrapper{
  background-color: #000000;
}
.run-container{
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 160px;
}
.run-text-content{
 max-width: 440px;
 padding-left: 20px;
}
.run-text-content h1{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  line-height: 120%;
  margin-bottom: 14px;

}
.run-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 34px;
 
}
.run-text-content .btn-primary{
  width: 224px;
  height: 54px;

}
.run-image-container{
  width: 466px;
  height: 312px;
  
}
 .run-image-container img{
  height: 100%;
  width: 100%;
  object-fit: none;
  object-position: 71% 32%;
  zoom: 83%;
  border-radius: 18px;
 }

/* bmi calculator container section  */

.bmi-calculator-container{
  padding: 88px 0px;
  background-color: #000000;
}
.bmi-calculator-text-content{
  max-width: 670px;
  margin: 0 auto;
}
.bmi-calculator-text-content h2{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.bmi-calculator-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 88px;
}
.bmi-calculator-function{
  background-color: rgb(34, 34, 34);
  padding: 0px 180px;
  justify-content: space-between;
}
.bmi-calculator-chart{
  padding-top: 50px;
}
table{
  border-collapse: collapse;
}
caption{
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  text-align: left;
  font-weight: 900;
  margin-bottom: 50px;

}
td,th{
  border: 1px solid rgba(255, 255, 255, 0.1);
}
th{
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 500;
  padding: 15px 20px;
  text-align: left;
}
td{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  padding: 13px 18px;
}
.calculate-bmi{
  max-width: 577px;
  padding-top: 50px;
}
.calculate-bmi h3{
  color: rgb(255, 255, 255);
  font-size: 1.75rem;
  font-weight: 900;
  text-align: left;
  margin-bottom: 14px;
  
}
.calculate-bmi p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 34px;
}
.bmi-calculator-options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 12px;
  column-gap: 12px;
}

input{
  width: 282.5px;
  height: 48px;
}
input, select{
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  padding: 12px 20px;
  text-align: left;

}
select{
  border-right: 10px solid transparent;
}
::placeholder{
  color: rgba(255, 255, 255, 0.6);
}
.select-factor{
  grid-column: 2 span;
  height: 48px;
}
.calculate-bmi .btn-primary{
  width: 224px;
  height: 54px;
  margin-top: 34px;
  margin-bottom: 50px;

}
/* our team container style*/
.our-team-container{
  background-color: black;
  padding-bottom: 88px;
}
.our-team-text-content{
  max-width: 670px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 58px;
}
.our-team-text-content h2{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
}
.our-team-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.team-image-container{
  max-width: 1060px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  display: grid;
  row-gap: 20px;
  column-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.team-img-1,
.team-img-2,
.team-img-3,
.team-img-4,
.team-img-5,
.team-img-6,
.team-img-7{
  width: 326.67px;
  height: 272px;
  position: relative;
}
.team-img-7{
  display: none;
}
.team-image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
  filter: brightness(80%);
}
.team-img-text-content{
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.team-img-text-content h4{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 700;
}
.team-img-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
}

/* select membership container starts here*/

.select-membership-container{
  background-color: rgb(0, 0, 0);
  padding-bottom: 88px;
}
.select-membership-text-content{
  max-width: 650px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 50px;

}
.select-membership-text-content h2{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
  
}
.select-membership-text-content p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  line-height: 24px;
  font-weight: 400;

}
.membership-package-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  
}
.membership-package{
  padding: 15px;
  border-radius: 18px;
  background-color: rgb(34, 34, 34);
  transition: all 0.3s;
}
.membership-package:hover{
  background-color: rgb(230, 83, 60);
}
.membership-package h4{
  color: rgb(230, 83, 60);
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: all 0.3s;
}
.membership-package:hover h4{
  color: white;
}
.package-hr{
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
}
.membership-package h2{
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.membership-package p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
}

.package-facilities{
  margin-top: 25px;
}
.package-facility{
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 14px;
 
}
.package-shape{
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: white;
  margin-right: 6px;
}
.package-facility span{
  position: absolute;
  left: 3px;
  top: 3px;
  font-size: .7rem;
  color: rgb(34, 34, 34);
}
 .package-facility h5{
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 500;
  
 }
 .membership-package .btn-primary{
  display: block;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.membership-package:hover .btn-primary{
  color: rgb(230, 83, 60);
  background-color: rgb(255, 255, 255);
  outline: 1px solid rgb(230, 83, 60);
}


/* footer section style */
.footer-container{
  background-color: rgb(34, 34, 34);
 
}
.footer-text-container{
  padding: 65px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 90px;
  
}
.footer-row-1 {
  max-width: 443px;
}
.footer-row-1 .brand{
  font-size: 3.30rem;
  margin-bottom: 20px;
  
}
.footer-row-1 p{
  color: rgba(255, 255, 255, 0.5);
  font-size: .875rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.footer-row{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 125px;
}
.footer-row h3{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 38px;
}
.footer-row p{
  font-size: 1.50rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.footer-row a{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}
.footer-hr{
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-reserved-text{
  padding: 35px 0px ;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

/* responsive section */
@media screen and (max-width: 576px) {

  /* navbar responsive */
  
  .navbar{
    margin-left: 20px;
    margin-right: 20px;
  }
  .nav-links{
    display: none;
  }
  .hamburger-menu{
    display: block;
    font-size: 1.25rem;
  }
  /* banner responsive */
  .banner-container{
    flex-direction: column;
    gap: 3rem;
    margin-left: 20px;
    margin-right: 20px;
  }
  .banner-title{
    width: 285px;
    font-size: 2.25rem;
  }
  #shape-span{
    font-size: 4.5rem;
  }
  .banner-description{
    max-width: 274px;
  }
  .club-span {
    display: none;
  }
  .banner-btn {
    gap: 10px;
  }
  .banner-btn .btn-primary{
    font-size: 1rem;
   }
  .download-app-btn{
    font-size: 1rem;
  }
  .free-workout-video{
    width: 146px;
    top: 47px;
    left: 192px;
    font-size: .6rem;
  }
  #free-workout-video-span{
    font-size: 1.875rem;
  }
  .video-tutorial{
    width: 156px;
    height: 73px;
    padding: 15px 17px;
    left: 12px;
    top: 270px;
  }
  .round-shape{
    width: 30px;
    height: 30px;
  }
  .play-icon{
    display: block;
    top: 5px;
    left: 10px;
  }
  .video-tutorial-container{
    font-size: .75rem;
  }
  #video-tutorial-span{
    font-size: 1.125rem;
  } 


  /* habits section responsive */
  .habits-container{
    padding: 0;
    padding-bottom: 60px;
  }
  .habits{
    margin-left: 20px;
    margin-right: 20px;
  }
  .habits-title{
    font-size: 2rem;
  }
  .habits-description{
    width: 80%;
    line-height: 22px;
  }
  .habits-card-container{
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .habits-card{
    margin: auto;
  }
 
 /* run container wrapper section responsive */
 .run-container{
  flex-direction: column;
  gap: 30px;
  padding: 32px;
  margin: 0 20px;
  
 }
 .run-text-content{
  padding-left: 0;

 }
 .run-text-content h1{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 900;
}
 .run-text-content .btn-primary{
  width: 100%;
}
.run-image-container{
  width: 100%;
  height: 180px; 
}


.run-image-container img{
  object-position: 98% 0%;
  zoom: 27%;
  border-radius: 50px;
}
/* bmi calculator container responsive*/
.bmi-calculator-container{
  padding: 0px;
  padding-top: 36px;
}
.bmi-calculator-text-content{
  margin: 30px 20px;
}
.bmi-calculator-text-content h2{
  font-size: 2rem;
}
.bmi-calculator-text-content p{
  margin-bottom: 0px;
}
.bmi-calculator-function{
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
}
.bmi-calculator-chart{
  width: 100%;
  padding-top: 34px;
}
caption{
  font-size: 1rem;
  margin-bottom: 20px;
}
.calculate-bmi{
  padding-top: 42px;
}

input, select{
  width: 100%;
  height: 100%;
}
.calculate-bmi h3{
  font-size: 1rem;
}
.calculate-bmi .btn-primary{
  margin-bottom: 43px;

}
/* our team container responsive */
.our-team-container{
  padding: 66px 20px;
}
.our-team-text-content{
  max-width: 310px;
  padding-bottom: 36px;
}
.our-team-text-content h2{
  font-size: 2rem;
}
.team-image-container{
  grid-template-columns: 1fr;
}
.team-img-7{
  display: block;
}
.team-img-2,
.team-img-7,
.team-img-3,
.team-img-6{
  width: 100%;
}
#team-img-id-1,
#team-img-id-2,
#team-img-id-3{
  display: none;
}

/* select membership container */
.select-membership-container{
  padding: 20px;
  padding-bottom: 66px;
}
.membership-package-container{
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  
}
.select-membership-text-content{
  margin-bottom: 30px;
}
.select-membership-text-content h2{
  font-size: 2rem;
  font-weight: 800;
}
.membership-package{
  padding: 25px;
}


/* footer container responsive */
.footer-container{
  padding: 20px;
}
.footer-text-container{
  max-width: 317px;
  grid-template-columns: 1fr;
  row-gap: 30px;
  padding-top: 24px;
  padding-bottom: 52px;
}
.footer-row{
  grid-template-columns: 1fr;
  row-gap: 20px;
}
.footer-reserved-text{
  text-align: left;
}

}
